<div class="col col-1" style="color: #31708f ;font-weight: bold; vertical-align: middle;">{{item.time}}</div>

<div class="col col-4">
    <ul class="responsive-table" style="border-width: 0em;">
        <div class="col col-1">
            {% for c in item.course %}
            <li class="table-row" style="border-width: 0em;">
                {{c.name}}
            </li> 
            {% endfor %}
        </div>
        <div class="col col-1">
            {% for c in item.course %}
            <li class="table-row" style="border-width: 0em;">
                {{c.name}}
            </li> 
            {% endfor %}
        </div>
        <div class="col col-2">
            {% for c in item.course %}
            <li class="table-row" style="border-width: 0em;">
                {{c.name}}
            </li> 
            {% endfor %}
        </div>
    </ul>
    

    </div>
    
</div>